<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informatica pe Înțelesul Tuturor</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js" defer></script>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Informatica pe Înțelesul Tuturor - O resursă educațională pentru învățarea conceptelor de bază din informatică.">
    <meta name="keywords" content="informatica, educație, concepte de bază, programare, tutoriale, resurse educaționale">
    <meta name="author" content="Informatica pe Înțelesul Tuturor">
    <meta property="og:title" content="Informatica pe Înțelesul Tuturor">
</head>
<body>
    <h1>Bine ai venit la Informatica pe Înțelesul Tuturor!</h1>
    <p>Aici vei găsi plicații simple pentru conceptele de bază din informatică.</p>
    <nav>
        <ul>
            <li><a href="atribuire.html">Instructiunea de atribuire</a></li>
            <li><a href="if.html">Structura IF</a></li>
            <li><a href="while.html">Structura WHILE</a></li>
            <li><a href="for.html">Structura FOR</a></li>
            <li><a href="vectori.html">Tablouri unidimensionale- vectori</a></li>
            <li><a href="matrici.html">Tablouri bidimensionale- matrici</a></li>
        </ul>
    </nav>
</body>
</html>